<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="public/style.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Charliescript</title>
</head>

<body>
  <div class="loader">
    <svg id="logo" width="612" height="114" viewBox="0 0 612 114" fill="none" xmlns="http://www.w3.org/2000/svg"
      className="w-1/2 sm:w-auto">
      <path
        d="M5.19199 56.744C5.19199 46.952 7.39999 38.168 11.816 30.392C16.232 22.52 22.232 16.376 29.816 11.96C37.496 7.544 45.992 5.336 55.304 5.336C66.248 5.336 75.8 7.976 83.96 13.256C92.12 18.536 98.072 26.024 101.816 35.72H86.12C83.336 29.672 79.304 25.016 74.024 21.752C68.84 18.488 62.6 16.856 55.304 16.856C48.296 16.856 42.008 18.488 36.44 21.752C30.872 25.016 26.504 29.672 23.336 35.72C20.168 41.672 18.584 48.68 18.584 56.744C18.584 64.712 20.168 71.72 23.336 77.768C26.504 83.72 30.872 88.328 36.44 91.592C42.008 94.856 48.296 96.488 55.304 96.488C62.6 96.488 68.84 94.904 74.024 91.736C79.304 88.472 83.336 83.816 86.12 77.768H101.816C98.072 87.368 92.12 94.808 83.96 100.088C75.8 105.272 66.248 107.864 55.304 107.864C45.992 107.864 37.496 105.704 29.816 101.384C22.232 96.968 16.232 90.872 11.816 83.096C7.39999 75.32 5.19199 66.536 5.19199 56.744Z"
        stroke="white" strokeWidth="10" mask="url(#path-1-outside-1)" />
      <path d="M198.65 6.632V107H185.546V61.496H134.426V107H121.322V6.632H134.426V50.696H185.546V6.632H198.65Z"
        stroke="white" strokeWidth="10" mask="url(#path-1-outside-1)" />
      <path
        d="M280.354 84.68H236.577L228.513 107H214.689L250.977 7.208H266.098L302.242 107H288.418L280.354 84.68ZM276.609 74.024L258.465 23.336L240.321 74.024H276.609Z"
        stroke="white" strokeWidth="10" mask="url(#path-1-outside-1)" />
      <path
        d="M370.905 107L347.001 65.96H331.161V107H318.057V6.632H350.457C358.041 6.632 364.425 7.928 369.609 10.52C374.889 13.112 378.825 16.616 381.417 21.032C384.009 25.448 385.305 30.488 385.305 36.152C385.305 43.064 383.289 49.16 379.257 54.44C375.321 59.72 369.369 63.224 361.401 64.952L386.601 107H370.905ZM331.161 55.448H350.457C357.561 55.448 362.889 53.72 366.441 50.264C369.993 46.712 371.769 42.008 371.769 36.152C371.769 30.2 369.993 25.592 366.441 22.328C362.985 19.064 357.657 17.432 350.457 17.432H331.161V55.448Z"
        stroke="white" strokeWidth="10" mask="url(#path-1-outside-1)" />
      <path d="M418.77 96.344H453.906V107H405.666V6.632H418.77V96.344Z" stroke="white" strokeWidth="10"
        mask="url(#path-1-outside-1)" />
      <path d="M480.926 17.288V50.84H517.502V61.64H480.926V96.2H521.822V107H467.822V6.488H521.822V17.288H480.926Z"
        stroke="white" strokeWidth="10" mask="url(#path-1-outside-1)" />
      <path
        d="M573.474 108.008C566.85 108.008 560.899 106.856 555.618 104.552C550.434 102.152 546.354 98.888 543.378 94.76C540.402 90.536 538.866 85.688 538.77 80.216H552.738C553.218 84.92 555.138 88.904 558.498 92.168C561.954 95.336 566.946 96.92 573.474 96.92C579.714 96.92 584.61 95.384 588.162 92.312C591.81 89.144 593.634 85.112 593.634 80.216C593.634 76.376 592.578 73.256 590.466 70.856C588.354 68.456 585.714 66.632 582.546 65.384C579.378 64.136 575.106 62.792 569.73 61.352C563.106 59.624 557.778 57.896 553.746 56.168C549.81 54.44 546.402 51.752 543.522 48.104C540.738 44.36 539.346 39.368 539.346 33.128C539.346 27.656 540.738 22.808 543.522 18.584C546.306 14.36 550.194 11.096 555.186 8.792C560.274 6.488 566.082 5.336 572.61 5.336C582.018 5.336 589.698 7.688 595.65 12.392C601.698 17.096 605.106 23.336 605.874 31.112H591.474C590.994 27.272 588.978 23.912 585.426 21.032C581.874 18.056 577.17 16.568 571.314 16.568C565.842 16.568 561.378 18.008 557.922 20.888C554.466 23.672 552.738 27.608 552.738 32.696C552.738 36.344 553.746 39.32 555.762 41.624C557.874 43.928 560.419 45.704 563.395 46.952C566.467 48.104 570.738 49.448 576.21 50.984C582.834 52.808 588.162 54.632 592.194 56.456C596.226 58.184 599.682 60.92 602.562 64.664C605.442 68.312 606.882 73.304 606.882 79.64C606.882 84.536 605.586 89.144 602.994 93.464C600.402 97.784 596.562 101.288 591.474 103.976C586.386 106.664 580.386 108.008 573.474 108.008Z"
        stroke="white" strokeWidth="10" mask="url(#path-1-outside-1)" />
    </svg>
  </div>
  <div class="container">


    <!-- Shocase -->
    <header class="showcase">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="400px" height="200px"
        viewBox="0 0 832.000000 462.000000" preserveAspectRatio="xMidYMid meet">
        <metadata>
          Created by potrace 1.16, written by Peter Selinger 2001-2019
        </metadata>
        <g transform="translate(0.000000,462.000000) scale(0.100000,-0.100000)" fill="#00000" stroke="none">
          <path d="M4000 4604 c0 -8 -67 -104 -89 -127 -4 -4 -36 -12 -72 -17 -35 -6
          -77 -13 -93 -16 -19 -4 -26 -3 -22 5 4 6 3 11 -2 11 -14 0 -23 -28 -11 -36 5
          -3 42 0 82 6 47 8 114 10 193 6 l121 -7 -4 26 c-3 14 5 49 17 79 28 70 18 88
          -25 46 -18 -17 -34 -28 -36 -23 -7 15 -59 57 -59 47z" />
          <path d="M4350 4501 c-11 -41 -59 -91 -88 -91 -15 -1 22 -13 193 -66 28 -9 89
            -38 136 -65 48 -27 89 -49 92 -49 4 0 2 12 -4 28 -6 15 -11 48 -10 73 1 33 -3
            48 -14 53 -11 4 -15 -2 -15 -24 0 -28 -2 -30 -40 -30 -24 0 -62 11 -90 25 -45
            23 -50 28 -50 60 0 27 -6 38 -27 52 -40 25 -65 52 -58 63 3 6 2 10 -4 10 -6 0
            -15 -18 -21 -39z" />
          <path d="M3665 4225 c-184 -32 -285 -41 -285 -26 0 6 -4 11 -8 11 -16 0 -52
          -95 -67 -175 -21 -117 -63 -235 -81 -228 -8 3 -12 8 -10 12 2 3 -7 7 -20 7
          -19 2 -22 -1 -14 -11 14 -17 3 -43 -33 -82 -24 -26 -39 -33 -67 -33 -56 0
          -100 19 -121 54 l-19 31 0 -28 c0 -73 48 -126 173 -195 42 -23 101 -66 131
          -95 l55 -52 -6 -69 c-6 -66 -7 -69 -41 -83 -50 -21 -172 -146 -221 -228 -23
          -38 -67 -106 -97 -150 -112 -162 -176 -327 -194 -500 -6 -57 -15 -102 -23
          -107 -23 -15 -84 -8 -110 12 -34 27 -38 25 -26 -9 26 -75 113 -109 177 -71 38
          23 50 47 92 170 17 52 52 135 78 184 44 84 47 87 50 57 2 -18 0 -40 -4 -49
          -23 -54 -36 -204 -23 -260 18 -70 57 -153 87 -185 24 -25 27 -35 24 -86 -3
          -47 3 -74 31 -147 41 -106 84 -194 95 -194 4 0 13 5 19 11 6 6 16 8 22 5 15
          -9 14 -39 -1 -54 -9 -9 -5 -13 19 -18 32 -6 42 -29 43 -93 1 -14 14 -42 30
          -61 28 -32 30 -33 30 -11 0 16 21 -10 71 -85 80 -121 267 -321 389 -414 40
          -30 99 -81 131 -112 39 -37 89 -72 146 -100 78 -39 93 -43 162 -43 63 0 86 5
          134 28 64 32 155 111 187 162 12 19 51 63 87 97 77 75 143 162 210 280 38 65
          53 84 62 75 8 -8 11 -4 11 17 0 16 18 81 39 145 22 64 42 133 46 154 7 33 5
          37 -14 37 -14 0 -20 -4 -15 -11 4 -7 0 -9 -13 -5 -51 16 -173 2 -173 -20 0 -3
          30 -4 68 -1 l67 6 -60 -14 c-147 -34 -396 -44 -414 -18 -3 5 -14 12 -23 16
          -10 3 -24 29 -34 63 -14 49 -15 67 -4 133 18 113 16 111 110 108 54 -1 81 -6
          85 -15 3 -10 30 -12 112 -8 114 5 207 25 260 56 63 37 84 8 81 -113 -1 -58 13
          -90 32 -71 13 13 80 259 83 307 2 33 10 48 44 79 41 39 70 98 58 118 -3 5 -1
          10 4 10 6 0 11 20 11 45 0 26 -5 45 -11 45 -7 0 -9 10 -7 25 3 14 1 25 -6 25
          -6 0 -5 4 3 9 11 7 11 9 0 13 -12 4 -12 7 -1 21 10 11 12 31 7 70 l-7 54 39 6
          c103 16 173 45 197 82 15 23 17 95 4 95 -5 0 -8 -8 -8 -18 0 -46 -90 -70 -134
          -37 -10 8 -38 17 -63 21 -47 7 -62 24 -66 74 -4 53 -15 32 -15 -28 0 -68 -17
          -115 -62 -166 -56 -63 -119 -84 -140 -47 -22 42 -12 65 45 106 40 29 60 53 75
          87 23 54 29 156 10 184 -11 18 -11 18 -5 0 3 -11 1 -44 -6 -74 -8 -40 -20 -63
          -48 -91 -21 -21 -48 -40 -59 -43 -20 -6 -22 -2 -22 33 0 21 10 67 21 100 23
          66 23 166 1 205 -9 15 -11 8 -10 -37 0 -33 -6 -68 -16 -87 -21 -40 -24 -40
          -18 -2 11 75 -36 211 -100 293 -33 42 -24 51 12 12 28 -30 42 -28 50 6 l6 24
          176 -3 177 -2 35 31 c41 36 50 61 37 104 -5 17 -10 23 -10 14 -2 -36 -39 -53
          -111 -51 -58 1 -77 7 -128 37 -33 20 -78 56 -100 81 -34 36 -47 44 -77 44 -32
          0 -35 2 -25 19 13 26 13 81 -1 81 -6 0 -8 9 -4 20 3 11 3 20 -2 20 -4 0 -8 23
          -8 50 0 28 3 50 8 50 4 0 7 7 7 15 0 8 -4 15 -9 15 -5 0 -7 9 -4 20 3 12 0 20
          -7 20 -7 0 -9 8 -5 20 4 11 2 20 -4 20 -6 0 -8 7 -5 15 4 8 2 15 -3 15 -12 0
          -44 56 -36 64 3 3 1 6 -6 6 -8 0 -7 6 4 16 9 10 14 25 12 35 -3 11 -1 19 4 19
          5 0 9 9 9 20 0 11 -4 20 -10 20 -5 0 -10 5 -10 11 0 5 5 7 12 3 7 -4 8 -3 4 4
          -11 18 -26 14 -26 -6 0 -9 -9 -34 -20 -55 -11 -20 -20 -44 -20 -52 0 -23 -29
          -18 -152 26 -62 23 -149 55 -193 71 -228 84 -541 108 -800 63z m515 -19 c261
          -43 466 -126 585 -238 35 -32 65 -67 68 -78 5 -18 0 -20 -40 -20 -25 0 -96 11
          -157 25 -341 75 -474 97 -636 106 -180 10 -400 -1 -511 -25 -92 -20 -162 -23
          -167 -8 -4 13 39 75 73 105 34 29 196 104 265 122 146 37 336 41 520 11z m95
          -270 c193 -48 369 -126 489 -217 36 -27 73 -63 81 -79 15 -29 15 -30 -8 -30
          -36 0 -172 38 -276 76 -224 84 -519 114 -782 79 -152 -20 -311 -29 -327 -17
          -11 8 -9 17 13 50 40 60 180 128 313 152 82 15 418 5 497 -14z m20 -255 c193
          -40 341 -102 450 -188 71 -56 58 -67 -31 -28 -176 79 -429 134 -625 136 -189
          2 -315 -15 -507 -68 -53 -15 -152 -10 -152 7 0 14 69 69 118 94 121 60 221 76
          457 72 145 -3 214 -8 290 -25z m5 -150 c115 -69 221 -350 180 -477 -16 -51
          -36 -73 -85 -95 -56 -26 -107 -25 -132 4 -22 24 -43 89 -43 131 0 40 -27 166
          -62 293 -27 98 -29 116 -18 142 20 48 82 49 160 2z m-250 -11 c25 -25 42 -91
          70 -265 33 -207 37 -297 15 -315 -24 -20 -112 -17 -154 4 -63 33 -92 147 -95
          366 -1 112 2 141 17 167 32 59 109 81 147 43z m491 -36 c46 -23 115 -90 143
          -137 57 -99 76 -241 37 -295 -24 -34 -85 -62 -136 -62 -39 0 -34 -13 -60 167
          -16 111 -46 197 -94 267 -35 50 -36 57 -18 75 15 16 84 8 128 -15z m-745 -9
          c6 -8 14 -63 17 -122 4 -60 14 -159 23 -222 9 -66 13 -134 9 -159 l-7 -44 -44
          6 c-94 12 -140 61 -170 176 -22 88 -23 254 -2 295 43 80 137 118 174 70z m993
          -101 c40 -36 71 -78 91 -118 31 -63 48 -153 37 -198 -6 -22 -63 -65 -73 -55
          -3 2 -13 47 -24 99 -24 118 -52 194 -96 260 -19 28 -37 55 -40 60 -3 4 6 8 20
          8 16 0 45 -19 85 -56z m-1240 -32 c-10 -48 -10 -81 0 -168 30 -257 32 -251
          -46 -225 -29 10 -61 28 -72 42 -32 38 -51 106 -52 183 -1 97 -17 56 -18 -45
          -1 -51 5 -95 19 -134 26 -75 27 -125 3 -125 -37 1 -103 40 -123 72 -36 59 -43
          103 -27 181 11 54 11 66 1 53 -19 -27 -37 -146 -32 -210 4 -42 17 -82 53 -152
          26 -52 45 -97 42 -100 -15 -15 -74 13 -117 55 -51 49 -69 92 -71 171 l-1 45
          -10 -35 c-5 -19 -8 -67 -6 -107 4 -88 31 -132 127 -208 61 -49 63 -51 58 -89
          -3 -21 -9 -42 -14 -47 -14 -14 -108 36 -152 80 -22 22 -47 57 -56 77 -25 60
          -29 152 -11 224 20 79 58 156 74 152 7 -1 11 1 10 5 -5 16 75 153 111 190 97
          100 161 152 195 158 19 4 52 13 73 20 21 8 42 10 46 6 5 -5 3 -35 -4 -69z
          m-529 -672 c0 -11 9 -43 20 -72 23 -61 79 -121 155 -166 50 -29 50 -29 50 -80
          -1 -28 -4 -54 -7 -58 -4 -3 -30 7 -59 23 -111 60 -195 237 -180 376 2 16 21
          -5 21 -23z m1004 -726 c9 -3 16 -12 16 -20 0 -8 5 -14 11 -14 5 0 7 -4 4 -10
          -3 -5 -1 -10 4 -10 16 0 14 -164 -3 -204 -32 -76 -108 -97 -355 -95 -123 1
          -152 4 -112 9 61 9 74 19 69 51 -7 51 -147 43 -205 -11 -21 -19 -23 -19 -31
          -3 -8 16 -15 39 -29 93 -10 42 -5 180 7 195 17 21 74 17 180 -13 92 -25 247
          -23 266 3 6 8 18 13 25 10 8 -3 34 1 59 9 52 16 72 18 94 10z" />
        </g>
      </svg>

      <h1>ONEDIBE CHARLES</h1>
      <p>
        <strong>BACKEND SOFTWARE DEVELOPER</strong>
      </p>
      <a href="#form" class="btn">
        Contact me <i class="fa fa-chevron-right"></i>
      </a>
    </header>

    <!-- Home Card 1 -->
    <section class="home-cards">
      <div class="contact">
        <h1>Contact</h1>
        <p>
          <i class="fa fa-phone"></i> 08176369953
        </p>
      </div>

      <div class="profile">
        <h1>Profile</h1>
        <p>
          Hi there i am backend software developer highly specialised in buliding APIs, i write mainly Javascript
        </p>
      </div>


      <div class="education">
        <h1>EDUCATION</h1>
        <div class="bsc">
          <h3>Bachelor Of Science (BSc)</h3>
          <p>Anambra State University</p>
          <p>2017-2021(Currently)</p>
        </div>
        <div class="bsc">
          <h3>Senior Secondary Certificate</h3>
          <p>Creek Senior High School</p>
          <p>2013-2017</p>
        </div>
      </div>

      <div class="exp">
        <h1>EXPERIENCE</h1>
        <div class="INTERN">
          <h2> KLEX GLOBAL RESOURCES</h2>
          <P>JUNIOR BACKEND DEVELOPER</P>
          <i>april 2020 - sept 2020</i>
        </div>
      </div>

      <div class="skills">
        <h1>SKILLS</h1>
        <p>H T M L / C S S / J A V A S C R I P T</p>
        <p>G I T / G I T H U B</p>
        <P>NODEJS / EXPRESS</P>
        <P>TYPESCRIPT</P>
        <P>SQL / MONGODB</P>
        <P>REACTJS</P>
      </div>

      <div class="projects">
        <h1>PROJECTS</h1>
        <div class="bsc">
          <h3>Ecommerce Website</h3>
          <p>Built with ReactJS</p>
          <a href="https://nocturnalstore.netlify.app/" class="btn" target="_blank">Visit</a>
        </div>
        <div class="bsc">
          <h3>Contact Manager</h3>
          <p>Built with ReactJS and Firbase</p>
          <a href="https://nocturnalstore.netlify.app/" class="btn" target="_blank">Visit</a>
        </div>
        <div class="bsc">
          <h3>Real time E Voting Website</h3>
          <p>Built with ReactJS and Nodejs</p>
          <a href="https://github.com/charlieScript/E-VOTING-APP" class="btn" target="_blank">Visit</a>
        </div>
      </div>
      
  </div>

    <div class="sub--content">
        <h2>Contact Me</h2>
        <form id="form">
            <div class="email">
                <label for="email">Email</label>
                <input type="email" name='email' required/>
            </div>
            <div class="password">
                <label for="text">Your Name</label>
                <input type="text" name='name' required/>
            </div>
            <div class="message">
              <label for="message">Your Message</label>
              <textarea id="message" cols="30" rows="10" name='message' required></textarea>
            </div>
          <input type="submit" value="SEND"/>
        </form>
      </div>
      <footer>
        <h2>Powered By</h2>
        <img src="public/images/hng.jpeg" alt="">
      </footer>
  <script>
    const cont = document.querySelector('.container');
    const One = document.querySelector('.sub--content');
    const Two = document.querySelector('footer');
    const svg = document.querySelector('.loader');
    const body = document.querySelector('body');

    const form  = document.querySelector('form')
    
    setTimeout(() => {
      svg.style.display = 'none';
      cont.style.display = 'block';
      One.style.display = 'block';
      Two.style.display = 'block';
      body.style.backgroundColor = 'white';
    }, 4030);

    form.addEventListener('submit', async (e) => {
      e.preventDefault()

      const email = form.email.value
      const name = form.name.value
      const message = form.message.value
      try {
      const res = await fetch('/form', { 
        method: 'POST', 
        body: JSON.stringify({ email, name, message }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json()

      if(data.message) {
        alert('Thanks for Contacting Me')
      } else {
        alert('something went wrong')
      }
    }
    catch (err) {
      console.log(err);
    }
    })

  </script>
</body>

</html>